<div class="jumbotron">
	<h1>Welcome to Rice Nation</h1>
	<p>Click here to see my <%= link_to 'latest work', portfolio_path%>.</p>
	<div class="btn-group btn-group-lg">
	  <button type="button" class="btn btn-default">Left</button>
	  <button type="button" class="btn btn-default">Middle</button>
	  <button type="button" class="btn btn-default">Right</button>
	</div>
</div>