<div id="header" class="section">
	<h1>Welcome to MXPTV's Content Database</h1>
	<!-- Search Area -->
	<h3>Search MXPTV Content Database</h3>
	<form class="navbar-form navbar-left" role="search" id="db-search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search by Rider, Event, or Media Type">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
	
</div>
