<div id="footer">
			<div id="footer-links">
				<div class="footer-section">
					<ul>
						<li class="footer-title">My Published Work</li>
						<li><a>Link</a></li>
						<li><a>Link</a></li>
						<li><a>Link</a></li>
					</ul>
				</div>
				<div class="footer-section">
					<ul>
						<li class="footer-title">About Me</li>
						<li><a>Link</a></li>
						<li><a>Link</a></li>
						<li><a>Link</a></li>
					</ul>
				</div>
				<div class="footer-section">
					<ul>
						<li class="footer-title">Affiliates</li>
						<li><a>Link</a></li>
						<li><a>Link</a></li>
						<li><a>Link</a></li>
					</ul>
				</div>

			</div>
			<div id="end"> 
				<p>Copyright Rice Nation 2014. All Rights Reserved.</p>
			</div>
</div>